<!-- use of component for next steps -->
<!-- <app-import requiredFileType="application/json"></app-import> -->


<!-- Hidden input of type file, to trigger the upload window -->
<input type="file" class="d-none" (change)="fileImported($event)" #fileUpload>

<div class="">
  <button class="btn btn-light"
    (click)="fileUpload.click()">
    <i class="fa-solid fa-file-import"></i>
    {{fileName || "Adauga Clienti"}}
  </button>
</div>
<!-- Testing preview of items in table -->
<div>
  <div class="card-table">
    <div class="cart-product table-responsive">
      <table class="table table-striped table-hover table-bordered align-middle table-sm">
        <thead>
          <tr class="align-middle">
            <th> Nr </th>
            <th> Nume </th>
            <th> Id </th>
            <th> Diacritice </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let rawItem of duplicateIdsArray; let i=index">
            <td> {{ i+1 }} </td>
            <td> {{ rawItem.name }} </td>
            <td> {{ rawItem.timestamp }} </td>
            <td> {{ rawItem.oldName }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
