<p> Interval: {{startDayMonthYear}} - {{endDayMonthYear}}</p>
  <!-- {{ rawData | json }} -->
<div>
  <div class="card-table">
    <div class="cart-product table-responsive">
      <table class="table table-striped table-hover table-bordered align-middle table-sm">
        <thead>
          <tr class="align-middle">
            <th> Nr </th>
            <th> Nume </th>
            <th> Id </th>
            <th> Yes/No </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let rawItem of rawData$ | async; let i=index">
            <td> {{ i+1 }} </td>
            <td> {{ rawItem.name }} </td>
            <td> {{ rawItem.timestamp }} </td>
            <td> 1 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
