<div class="container text-center mb-3" *ngIf="!(menuService.menuOpened$ | async)">
  <div class="card p-2">
    <div class="card-title d-flex justify-content-center align-items-center">
      <h5> Prospecti </h5>
    </div>
    <div>
      <div class="card-table">
        <div class="cart-product table-responsive">
          <table class="table table-striped table-hover table-bordered align-middle table-sm">
            <thead>
              <tr>
                <th> Nr. </th>
                <th> Name </th>
                <th> Name </th>
                <th> Name </th>
                <th> Name </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let program of prospects$ | async; let i=index"> 
                <td> {{ i+1 }} </td>
                <td> {{ program.Day }} </td>
                <td> {{ program.Time }} </td>
                <td> {{ program.Category }} </td>
                <td>
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="saveIdToDeleteAfterConfirmation(program.id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <a class="btn text-black link-warning fs-6" data-bs-toggle="modal" data-bs-target="#newProgramModal">
          <i class="fa-solid fa-plus"></i> Add
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Modal and Form for new Program -->
<div class="modal fade" id="newProgramModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"> </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="fs-5 text-center"> Add</h1>
        <form 
          #form='ngForm'
          (ngSubmit)="addNewProgram(form.value)"
          [formGroup]="newProgramForm"
          class="d-flex flex-column align-items-center justify-content-center">
          <label for="Day" class="fs-6"> Day</label>
          <select
            formControlName="Day"
            class="p-2 border border-success rounded mb-2">
            <option> Monday </option>
            <option> Tuesday </option>
            <option> Wednesday </option>
            <option> Thursday </option>
            <option> Friday </option>
            <option> Saturday </option>
            <option> Sunday </option>
          </select>
          <label for="Time" class="fs-6"> Name </label>
          <div>
            <select
              formControlName="StartHour"
              class="p-2 border border-success rounded mb-2">
              <option *ngFor="let hour of timeHours"> Name </option>
            </select>
             : 
            <select
              formControlName="StartMinute"
              class="p-2 border border-success rounded mb-2">
              <option *ngFor="let minute of timeMinutes"> Name </option>
            </select>
             - 
            <select
              formControlName="EndHour"
              class="p-2 border border-success rounded mb-2">
              <option *ngFor="let hour of timeHours"> Name </option>
            </select>
             : 
            <select
              formControlName="EndMinute"
              class="p-2 border border-success rounded mb-2">
              <option *ngFor="let minute of timeMinutes"> Name </option>
            </select>
          </div>
          <label for="Category" class="fs-6"> Name </label>
          <select 
            formControlName="Category"
            class="p-2 border border-success rounded mb-2">
            <option> Beginners </option>
            <option> Intermediate </option>
            <option> Advance </option>
          </select>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"> Save </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancel </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"> </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h2 class="delete-modal-body-height fs-5 row justify-content-center align-items-center"> Name </h2>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProgram()"> Delete </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancel </button>
      </div>
    </div>
  </div>
</div>