<header> 
  <div class="container-lg d-flex flex-column flex-lg-row justify-content-between px-0 py-1">

    <div class="container-lg d-flex align-items-center justify-content-between">
      <a class="m-2 text-white text-decoration-none link-warning" routerLink="/home">
        <strong> ForeverTool </strong>
      </a>
      <nav [ngClass]="{'menu-open': menuOpened}" class="burger d-lg-none d-flex align-items-center mx-2" (click)="toggleMenu()">
        <div class="line-wrapper px-1">
          <span [ngClass]="{'bg-warning': menuOpened}" class="line d-block"></span>
          <span class="line d-block"></span>
          <span [ngClass]="{'bg-warning': menuOpened}" class="line d-block"></span>
        </div>
      </nav>
    </div>

    <nav [class.menu-open]="menuOpened" class="links-menu-wrapper d-none d-lg-flex align-items-center justify-content-end">
      <ul [class.menu-open]="menuOpened" class="links-menu-list list-unstyled d-flex mb-0">
        <li>
          <a routerLink="/clients" (click)="closeMenuIfOpened()" class="d-block p-3 text-decoration-none text-black fw-semibold text-white link-warning"> Clienti </a>
        </li>
      </ul>
    </nav>

  </div>
</header>