.delete-modal-body-height {
  min-height: 80px;
}

.bottom-right{
  position: fixed;
  bottom: 10px;
  right: 10px;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}

.input-box{
  position: relative;
}

.input-box button {
  position: absolute;
  right: 0px;
}

.show-scrollTop {
  transform: translateX(0%);
  transition: all 0.4s ease-in-out;
}